<!--The nav bar template-->
<html>
    <head>
    {% if title %}
        <title>{{ title }} - mushroom blog</title>
    {% else %}
        <title>Welcome to mushroom blog</title>
    {% endif %}
    </head>
    <body>
        <div>Mushroom: <a href="/index">Home</a> | <a href="/login">login </a></div>
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li>{{ message }} </li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <!--block contents, inherit here-->
        {% block content %}{% endblock %}
    </body>
</html>

