<!--Extend from base layout, login html template-->
{% extends "layout.html" %}

{% block content %}
    <h1>Sign In</h1>
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <p>
            Please enter your username<br>
            {{ form.username(size=40) }}<br>
            Please enter your password<br>
            {{ form.password(size=40) }}<br>
            <!--Validation error display-->
            {% for error in form.username.errors %}
                <span style="color: red">[{{ error }}]</span>
            {% endfor %}<br>
            {% for error in form.password.errors %}
                <span style="color: red">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        {% if error %}
        <span style="color: red"><strong>Error: {{ error }}</strong></span> 
        {% endif %}
        <p>{{ form.remember }} Remember Me</p>
        <p><input type="submit" value="Sign In"></p>
    </form>
{% endblock %}
